.blackbtn.part1 {
    background-color: black;
    color: white;
}

div {
    font-size: 28px;
    font-family: helvetica, 'Times New Roman', sans-serif;
}

.yllwbtn.part2 {
    background-color: yellow;
    
}